{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 11,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["react"],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "indent": ["error", 2], //该规则旨在强制使用一致的缩进风格。默认是 4个空格。
    "no-var": 2, //禁止使用var声明
    "no-alert": 2, //禁止使用alert confirm prompt
    "no-array-constructor": 2, //禁止使用数组构造器
    "no-bitwise": 0, //禁止使用按位运算符
    "no-caller": 1, //禁止使用arguments.caller或arguments.callee
    "no-catch-shadow": 2, //禁止catch子句参数与外部作用域变量同名
    "default-case": 2, //switch语句最后必须有default
    "eqeqeq": 2, //必须使用全等
    "no-unused-vars": 1,
    "no-undef": 0,
    "no-const-assign": 2, //禁止修改const声明的变量
    "no-param-reassign": 2, //禁止给参数重新赋值
    "no-dupe-keys": 2, //在创建对象字面量时不允许键重复 {a:1,a:1}
    "no-else-return": 2, //如果if语句里面有return,后面不能跟else语句
    "no-redeclare": 2, //禁止重复声明变量
    "max-depth": ["error", 4], //嵌套语句最大深度
    "max-lines-per-function": ["error", 30], //函数最大行数
    "no-nested-ternary": 2, //禁止使用嵌套的三元表达式
    "sort-imports": 1 //import 排序，默认：{ "memberSyntaxSortOrder": ["none", "all", "multiple", "single"] }
    // "quotes": [
    //   2,
    //   "single"
    // ] // 强制使用一致的反勾号、双引号或单引号
  }
}
